.statistic-container {
  display: flex;
  background-color: lightblue;
  padding: 2rem 0;
  width: 100%;
  border: 1px solid;
}

.interactive-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
