header {
  display: flex;
  justify-content: space-between;
}

.like-post {
  width: 30px;
  cursor: pointer;
}

input {
  width: 100%;
  height: 4rem;
}

.post-container {
  padding: 2rem;
  border: 1px solid;
}

.comment-date {
  display: flex;
  justify-content: flex-end;
}

.post-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
