.App {
  text-align: center;
}

main {
  width: 920px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.posts-container {
  display: flex;
  flex-direction: column;
}
